.card {
    width: 300px;
    padding: 15px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}
.card img {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.card h1 {
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}